---

---

<section id="hamburguesas" class="mt-1">
    <div class="flex justify-center items-center flex-wrap max-[768px]:flex-col gap-[20px]">
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Power.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Power
                    </h2>
                    <h3 class="text-sm">
                        Medallon 130g, Cheddar x2, Huevo y Panceta
                    </h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Tromen.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Tromen
                    </h2>
                    <h3 class="text-sm">
                        Medallon 130g, Cheddar x2, Huevo, Cebolla Caramelizada y Salsa Secreta
                    </h3>
                </div>
            </div>
        </div>
         <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Falkner.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Falkner
                    </h2>
                    <h3 class="text-sm">
                        Medallon 130g, Cheddar x2, Lechuga Francesa, Cebolla Morada y Tomate
                    </h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./CheeseB.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Cheese B.
                    </h2>
                    <h3 class="text-sm">
                        Medallon 100g, Doble Cheddar
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center mt-5 flex-wrap max-[768px]:flex-col gap-[20px]">
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Lacar.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Lacar
                    </h2>
                    <h3 class="text-sm">
                        Medallon 130g, Cheddar x2, Roquefort, Provolone y Cebolla Caramelizada
                    </h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Dijon.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Dijon
                    </h2>
                    <h3 class="text-sm">
                        Pan Brioche, Medallon 130g, Cheddar x2, Panceta, Cebolla Morada, Provolone y Salsa Dijon
                    </h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./BurntOnion.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Burnt Onion
                    </h2>
                    <h3 class="text-sm">
                        Medallon doble Smasheado con Cebolla, dambo x3 y Salsa MVP
                    </h3>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="w-[320px] h-[230px] relative">
                <img class="rounded-[24px] w-full h-full object-cover" src="./Rings.webp" alt="">
                <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
                    <h2 class="text-lg">
                        Rings
                    </h2>
                    <h3 class="text-sm">
                        Medallon 130g, cheddar x2, panceta, barbacoa y aros de cebolla
                    </h3>
                </div>
            </div>
        </div>
</section>
