---
import Layout from "../layouts/Layout.astro"
import NuestrasH from './NuestrasH.jsx'
import BlackPowers from './BlackPowers.jsx'
---

<main id="nosotros">
    <div class="flex flex-col justify-center items-center p-10">
        <h1 class="">
            <BlackPowers />
        </h1>
        <h2 class="text-white font-semibold mt-2 opacity-75">
            Hamburgesas Smasheadas
        </h2>
        <p class="text-white font-semibold mt-2 opacity-75 max-[485px]:text-center">
            Jueves, Viernes , Sábados y Domingos de 19:30hs a 23:30hs
        </p>
        <h2 class="text-center mt-4">
            <NuestrasH />
        </h2>
    </div>
</main>

<style is:inline>
    

</style>