---
import EnviosTitulo from './EnviosTitulo.jsx'
import Metodos from './Metodos.jsx'
import Importante from './Importante.jsx'
---

<section class="flex justify-center items flex-col mt-3">
    <div>
        <h3 class="text-center mt-4">
            <EnviosTitulo />
        </h3>
        <h3 class="text-white text-center font-semibold mt-1 text-1xl opacity-75 max-[485px]:text-center">
            Delivery - Take Away
        </h3>
        <h3 class="text-white text-center font-semibold mt-1 text-1xl opacity-75 max-[485px]:text-center">
            Delivery sin cargo
        </h3>
        <h3 class="text-white text-center font-semibold mt-1 text-1xl opacity-75 max-[485px]:text-center">
            Consultar zonas.
        </h3>
    </div>
    <div class="mt-3">
        <h2 class="text-center">
            <Metodos />
        </h2>
        <h3 class="text-white text-center font-semibold mt-1 text-1xl opacity-75 max-[485px]:text-center">
            Efectivo
        </h3>
        <h3 class="text-white text-center font-semibold mt-1 text-1xl opacity-75 max-[485px]:text-center">
            Transferencia Bancaria
        </h3>
        <h3 class="text-white text-center font-semibold mt-1 text-1xl opacity-75 max-[485px]:text-center">
            Mercado Pago
        </h3>
        <h3 class="text-center mt-2">
            <Importante />
        </h3>
        <p class="text-white text-center font-semibold mt-3 text-1xl opacity-75 max-[485px]:text-center">
            En caso de abonar por Transferencia o MercadoPago,
        </p>
        <p class="text-white text-center font-semibold text-1xl opacity-75 max-[485px]:text-center">
            no se iniciara el pedido hasta que se envie el comprobante de pago.
        </p> 
    </div>
</section>