---
import ParaPicarTitulo from './ParaPicarTitulo.jsx'
---

<h2 class="text-center mt-3">
    <ParaPicarTitulo />
</h2>

<div class="flex justify-center items-center gap-[20px] max-[1020px]:flex-col">
    <div class="w-[320px] h-[230px] relative mt-4">
        <img class="rounded-[24px] w-full h-full object-cover" src="./ParaPicar.webp" alt="FriedBox - Papas Fritas, Nuggets, Chicken Fingers y Mozza Sticks">
        <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
            <h2 class="text-lg">
                Fried Box
            </h2>
            <h3 class="text-sm p-2">
                Fritas, Nuggets, Chicken Fingers y Mozza Sticks 
            </h3>
            <h3 class="text-sm">
                + 2 DIP A Eleccion.
            </h3>
        </div>
    </div>
    <div class="w-[320px] h-[230px] relative mt-4">
        <img class="rounded-[24px] w-full h-full object-cover" src="./FriedBox2.webp" alt="FriedBox 2 - Papas Fritas, Nuggets, Chicken Fingers, Mozza Sticks y Aros de cebolla">
        <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
            <h2 class="text-lg">
                Fried Box 2
            </h2>
            <h3 class="text-sm p-2">
                Fritas, Nuggets, Chicken Fingers, Mozza Sticks y Aros de Cebolla
            </h3>
            <h3 class="text-sm">
                + 2 DIP A Eleccion.
            </h3>
        </div>
    </div>
    <div class="w-[320px] h-[230px] relative mt-4">
        <img class="rounded-[24px] w-full h-full object-cover" src="./Nuggets.webp" alt="Nuggets - Consultar agregados.">
        <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
            <h2 class="text-lg">
                Nuggets
            </h2>
            <h3 class="text-sm">
                Consultar agregados.
            </h3>
        </div>
    </div>
</div>
<div class="flex justify-center items-center gap-[20px] max-[1020px]:flex-col">
    <div class="w-[320px] h-[230px] relative mt-4">
        <img class="rounded-[24px] w-full h-full object-cover" src="./Aros.webp" alt="Aros de Cebolla - Consultar agregados.">
        <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
            <h2 class="text-lg">
                Aros de Cebolla
            </h2>
            <h3 class="text-sm">
                Consultar agregados.
            </h3>
        </div>
    </div>
    <div class="w-[320px] h-[230px] relative mt-4">
        <img class="rounded-[24px] w-full h-full object-cover" src="./Mozza.webp" alt="Palitos de Mozzarella - Consultar agregados.">
        <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
            <h2 class="text-lg">
                Palitos de Mozzarella
            </h2>
            <h3 class="text-sm">
                Consultar agregados.
            </h3>
        </div>
    </div>
    <div class="w-[320px] h-[230px] relative mt-4">
        <img class="rounded-[24px] w-full h-full object-cover" src="./Chicken.webp" alt="Chicken Fingers - Consultar agregados.">
        <div class="rounded-[24px] absolute top-0 left-0 w-full h-full bg-white bg-opacity-80 text-center text-black opacity-0 transition-opacity duration-500 flex flex-col justify-center items-center text-lg hover:opacity-100">
            <h2 class="text-lg">
                Chicken Fingers
            </h2>
            <h3 class="text-sm">
                Consultar agregados.
            </h3>
        </div>
    </div>
</div>

