---
import Whatsapp from './Whatsapp.jsx'
---

<section class="mt-2" id="pedidos">
    <h2 class="text-white text-center text-4xl font-bold opacity-75">
        Pedidos
    </h2>
    <h2 class="text-white text-center text-1xl font-semibold opacity-80">
        Via <span class="text-green-500">Whatsapp</span>
    </h2>
    <div class="text-center mt-2">
        <a class="text-center" href="https://wa.me/message/4JBG3H4MV5HTO1" target="_blank">
            <Whatsapp />
        </a>
    </div>
    
</section>